.luxurious-roman-regular {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
}

.kaisei-harunoumi-regular {
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 400;
  font-style: normal;
}

.sorts-mill-goudy-regular {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-image: url(images/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: cover; */
    height:100vh;
    width: 100vw;
}

h1 {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.2em;
  color: #FCAB0A;
  text-align: center;
  border-bottom: 1px #FCAB0A;;
  margin-bottom: 2%;
}

header h2{
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 180%;
  color: #FFF5F5;
  margin: 12%;
  text-align: justify;
  padding: 16px;
  background-color: rgb(15, 1, 37,.75);

  border-radius: 8px;
}

.line{
    height:2px;
    width: 85%;
    background-color: #FCAB0A;
    
    margin: 0 auto;
    margin-top: -2%;
}

.beginGame{
    display: flex;
}

input[type="submit"]{
   margin: 0 auto;
   margin-top: 10%;
   width: 155px;
   height: 42px;
   color: #FFFDF5;
   font-family: "Luxurious Roman";
   font-size: 1.4em;
   font-style: normal;
   font-weight: 400;
   border-radius: 8px;
   background: #230072;
   box-shadow: 0 2px 15.4px 3px #D5A33E;
}

input[type="submit"]:hover {
    background: #4600de;
    color:#e49800;
}

.die2{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}
.imgdie{
  max-width: 100%; 
  height: auto; 
}

.gameAction{
  display: flex;
  justify-content: center;
  gap: 24%;
}

.roll{
  font-size: 1.46em;
}

.pass{
  font-size: 1.46em;
}

.box{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: rgb(3, 0, 9,.4);
  padding: 8px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.box p{
  color: rgb(255, 253, 245,.75);
  font-size: 1.35em;
  padding: 6px;
  margin: 0;
}

.score{
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 25px;
}

.score p{
  color: #FCAB0A;
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.42em;
}

p{
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 600px) {
  h1{
    font-size: 6em;
   
    margin-top: .5%;
    

  }

  .line{
    margin-top: -2%;
  }

  header h2{
    font-size: 1.4em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    margin-bottom: 2%;
    padding: 2%;
  }

  input[type="submit"]{
    margin-top: 4%;
    font-size: 1.6em;
    width: 170px;
    height: 48px;
  }

  .die2{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-left: 30%;
  margin-right: 30%;
 }

  .gameAction{
    display: flex;
    justify-content: center;
    margin-top: -392px;
    gap: 44%;
  }

  .box{
    padding: 8px;
    margin-top: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .box p{
   color: rgb(255, 253, 245,.75);
   font-size: 1.35em;
   padding: 6px;
   margin: 0;
  }

  .score{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 325px;
  }
}